table {
  border: 1px solid black;
  border-spacing: 0;
}

caption {
  color: blue;
  font-weight: bold;
}

th {
  border: 1px solid black;
  background: grey;
}

td {
  border: 1px solid black;
  padding: 3px;
}

i {
  font-weight: bold;
}

code {
  font-family: Courier New, monospace;
  font-style: oblique;
  font-size: 1.3em;
}

p {
  text-decoration: underline;
  font-weight: bold;
}

